.divWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.instrumentWrapper {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}

.instrument {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}