body {
    margin: 0;
    padding: 43px;
    background: #1f2223;
}

.mainDivWrapper {
    margin: 0;
    padding: 51px;
    background: #000000;
    width: 1354px;
    height: 730px;
    border-radius: 28px;
}

.mainDiv {
    color: #EBEBF5;
    opacity: 60%;
    font-family: Arial sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
