body {
    margin: 0;
    padding: 43px;
    background: #1f2223;
}

html::-webkit-scrollbar {
    background: #000000;
    width: 8px;
}

html::-webkit-scrollbar-track {
    background-color: #1f2223;
    border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 100px;
}